
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.black{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 40px;
    background-color: #1F2937;
    color: white;
    padding: 10px 200px 100px 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 500px; */
}

.topleft{
    font-size: 24px;
}

.links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB
}

.headerLower{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.left{
    width: 450px;
}
.h2{
    font-size: 48px;
}
.p1{
    font-size: 18px;
    color: #E5E7EB
}
.signup, .signup2{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

img{
    width: 400px;
}



/* divider */
.white{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.toptext{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.boxes{
    display: flex;
    align-items: center;
    /* width: 600px; */
    gap: 40px
}

.boxAndText{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 150px;
}
.box{
    border: 5px solid #3882F6;
    border-radius: 15px;
    width: 140px;
    height: 140px;
}

/* divider */
.grey{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.quotebox{
    width: 820px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.citation{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

/* divider */
.blue{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.window{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 800px;
    border-radius: 10px;
}
.signup2{
    border: 2px solid white;
}
.plea{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.copy{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px;
}